{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ts", ".tsx", ".js", "mjs", ".json"],
        "alias": {
          "@assets": "./src/assets",
          "@constants": "./src/constants/index.mjs",
          "@i18n": "./src/i18n",
          "@utils": "./src/utils",
          "@router": "./src/navigator/router"
        }
      }
    ]
  ]
}